# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
.env
/media/
/staticfiles/
/data/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/_qa*.mjs

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
